<!doctype html>
<html ng-app="myApp">
  <head>
  	<title>Namestorm</title>

    <link rel="icon" type="icon/png" href="img/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='css/app.css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
  </head>

  <body ng-controller="nameStormController">

    <div id="app-wrapper" class="clearfix">

      <!-- home link and eventual user account -->
      <div id="home">
        <i class="fa fa-bolt"></i>
      </div>

      <div id="add_idea" class="col8 last">
        <h1>New Idea +</h1>
        <div class="input_wrap clearfix">
          <input id="name_submit" type="text" placeholder="Enter Idea Here..." ng-model="newIdea">
          <button type="submit">Submit</button>
        </div>
      </div>
      {{newIdea}}
      <div class="col8" id="left-col">

        <h1>All Ideas</h1>

        <div id="ideas">
          <ol class="clearfix">
            <!-- ideas will render here -->
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
          </ol>
        </div>

        <div id="trash">
          <h1>Trashed Ideas</h1>
          <div class="ideas">
            <ol class="clearfix">
              <!-- ideas will render here -->
              <li class="idea">
                <span class="idea_label">Idea Name</span>
                <div class="idea_tools">
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                  <button class="info"><i class="fa fa-info-circle"></i></button>
                  <button class="star"><i class="fa fa-star"></i></button>
                </div>
              </li>
            </ol>
          </div>
        </div>

      </div>

      <div class="col4 last" id="starred">
        <h1>Starred Ideas</h1>
        <div class="ideas">
          <ol class="clearfix">
            <!-- ideas will render here -->
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
            <li class="idea">
              <span class="idea_label">Idea Name</span>
              <div class="idea_tools">
                <button class="trash"><i class="fa fa-trash-o"></i></button>
                <button class="info"><i class="fa fa-info-circle"></i></button>
                <button class="star"><i class="fa fa-star"></i></button>
              </div>
            </li>
          </ol>
        </div>
      </div>

    </div><!-- end app-wrapper -->

    <script type="text/javascript" src="js/namestorm.js"></script>




<div class="clearfix"></div>
<hr/>


    <!-- CHAT MARKUP -->
    <div class='example-chat l-demo-container'>
      <header>Firebase Chat Demo</header>

      <div class='example-chat-toolbar'>
        <label for='nameInput'>Username:</label>
        <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
      </div>

      <ul id='example-messages' class='example-chat-messages'>
        <li ng-repeat='msg in messages'>
          <strong class='example-chat-username'>{{msg.from}}</strong>
          {{msg.body}}
        </li>
      </ul>

      <footer>
        <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>
      </footer>
    </div>

    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller('nameStormController', ['$scope', '$firebase',
        function($scope, $firebase) {
          //CREATE A FIREBASE REFERENCE
          var ref = new Firebase("https://namestorm.firebaseio.com/");

          // GET MESSAGES AS AN ARRAY
          $scope.messages = $firebase(ref).$asArray();

          //ADD MESSAGE METHOD
          $scope.addMessage = function(e) {

            //LISTEN FOR RETURN KEY
            if (e.keyCode === 13 && $scope.msg) {
              //ALLOW CUSTOM OR ANONYMOUS USER NAMES
              var name = $scope.name || 'anonymous';

              //ADD TO FIREBASE
              $scope.messages.$add({
                from: name,
                body: $scope.msg
              });

              //RESET MESSAGE
              $scope.msg = "";
            }
          }
        }
      ]);
    </script>
  </body>
</html>